@import 'src/assets/styles/global_style.scss';


.flexDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h3{
        cursor: pointer;
        :hover{
            color: #000;
        }
    }
}

.center{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.note{
    background-color: antiquewhite;
    margin: 0 25px;
    padding-left: 10px;
    padding-right: 10px;
    p{
        margin-bottom: 2px;
    }
}

.table-responsive {
    overflow-x: auto;
    margin: 30px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  table th,
  table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }

.image.featured {
  display: block;
  width: 60%;
  margin: 0 0 3.5em 0;
}

.imgSize{
  width: fit-content;
  max-height:150px ;
  object-fit: cover;
}


button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}