@import 'src/assets/styles/global_style.scss';


.featured{
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Arvo';
	font-weight: 700;
	color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    cursor: pointer;
}

.already-voted {
    font-size: 18px;
    color: #ff0000;
    font-weight: bold;
  }