<div class="flexDiv pt-5 ">
    <h3 style="text-align: center; margin: 20px 0" (click)="goBack()">
      <span class="icon solid fa-left-long"></span><strong>Go back</strong>
    </h3>
    <h2 style="text-align: center; margin: 20px 0">
      Candidate's <strong>Hub</strong>
    </h2>
  </div>

    <!-- Banner -->
    <section class="container spaceAbove">
        <img width="100%"  src="../../../../assets/images/RSU-Elections-2023-Page-Banner.png" alt="">
        <p class="para">
       <strong class="font-extrabold" >     Are you interested in getting involved in this year's elections? Well, congratulations on taking your first step to become a full-time or part-time officer at Roehampton Students' Union. 
We know that putting yourself forward for this can be daunting, but it is an amazing opportunity to develop skills that will benefit you when you eventually leave university. 
</strong> <br><br>
Our team are on hand to support you the whole way and the information below will help to guide you on this journey. so, are you ready?
        </p>
    </section>



    <!-- //details  -->

    <section id="main">
        <div class="container bgColor">
          <div class="row">
            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">
              <!-- Post -->
              <article class="box post">
                <header>
                  <h2 style="color:rgb(255, 255, 255)">
                    Election Rules & Guidelines:
                  </h2>
                </header>
              
                <p style="color: rgb(187, 184, 180);">
                    To ensure that the election is free and fair, there a few rules & regulation everyone should adhere to; 
                    To read the Rules & Regulations : <br><br>
                    <a style="cursor: pointer" 
                    ><span class="p-2 badge text-bg-dark"
                      >Rules &nbsp;
                      <i class="bi bi-arrow-right"></i> </span
                  ></a>
                  <br><br>         
                </p>
                <span class="spanP">Further Guidance -  Please click on the links below</span> <br><br>

                <ul >
                    <li ><a style="color:white" href="https://www.roehamptonstudent.com/pageassets/studentvoice/rsuelections/candidates/Endorsements-Elections-23-24.pdf">Endorsement Guidance for all Societies & Sports Clubs </a></li>
                    <li><a style="color:white" href="https://www.roehamptonstudent.com/pageassets/studentvoice/rsuelections/candidates/Citizens-Manifesto.pdf">RSU Citizen Manifesto - All sabbatical officer candidates are encourage to use this.</a></li>
                    <li><a style="color:white" href="https://www.roehamptonstudent.com/studentvoice/rsuelections/candidates/pre-termagreement/">RSU Citizen Manifesto - All sabbatical officer candidates are encourage to use this.</a></li>
                </ul>
             
              </article>
            </div>
      
            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">
              <!-- Excerpts -->
              <section>
                <ul class="divided">
                  <li>
                    <!-- Excerpt -->
                    <article class="box excerpt">
                      <header>
                        
                        <h3><a>Key Dates</a></h3>
                      </header>
                      <p class="dates">
                        Nomination begins on : <strong> {{
                          election.nomination_start | dateFormatter : "MMMM DD"
                        }}  </strong>
                        <br />
                        Nomination ends on : <strong>{{
                          election.nomination_end | dateFormatter : "MMMM DD"
                        }}</strong> <br />
                      
               
                        The voting will start on :
                        <strong>{{
                          election.voting_start | dateFormatter : "MMMM DD"
                        }}</strong> <br />
                        The voting will end on : <strong>{{
                          election.voting_end | dateFormatter : "MMMM DD"
                        }}</strong>
                   <br>
                        Results will be published on :
                         <strong>{{
                          election.result_day  | dateFormatter : "MMMM DD"
                        }}</strong>
                      </p>
                     
                    </article>
                  </li>
                </ul>
              </section>
            </div>
   
          </div>
        </div>
      </section>

<!-- second -->

      <section id="main">
        <div class="container bgColor2">
          <div class="row">

            <article class="box post">
                <header>
                  <h2 >
                    Election Rules & Guidelines:
                  </h2>
                </header>


            <p>Now that you've submitted your nomination and your manifesto, it's time to start putting your campaign together. Campaigning is how you interact with voters <strong>(e.g. all the students of Roehampton)</strong> and how you convince them to vote for you!</p>
            <p>We've seen some brilliant examples of campaigning in the past and everyone has a different style. Below we've put together some tips on how you can run a successful campaign.</p>
            <p><strong>Understanding Your Campaign </strong>- Your campaign should follow the five W's;</p>
            <ul>
                <li><strong>Who</strong> are you?</li>
                <li><strong>What</strong> are you running for?</li>
                <li><strong>Why</strong> should someone vote for you?</li>
                <li><strong>When</strong> can they do this?</li>
                <li><strong>Where</strong> can they do this?</li>
            </ul>
            <p><strong>Make a Poster/Leaflet</strong>&nbsp;- The best way to start is by designing a poster or leaflet that highlights your manifesto points, who you are and how people can vote for you. A good way to do this is through<a href="https://www.canva.com/en_gb/">&nbsp;<strong>www.canva.com</strong></a>&nbsp;which has a host of ideas and <strong>free</strong> templates available to you. Be sure to check the rules and regulations,further down on this webpage, around printed materials and campaign spending.</p>
            <p><strong>Go Speak to Students</strong> - It may seem obvious, but just going up and speaking to people is a great way to get your name out there. Try not to interrupt people, but head over to introduce yourself to someone on their lunch break and ask if they'd be interested in hearing about your manifesto. Don't forget to give them one of your leaflets!</p>
            <p><strong>Go Speak to Students</strong> - It may seem obvious, but just going up and speaking to people is a great way to get your name out there. Try not to interrupt people, but head over to introduce yourself to someone on their lunch break and ask if they'd be interested in hearing about your manifesto. Don't forget to give them one of your leaflets!</p>
            <p><b>Make a Campaign Video -&nbsp;</b>Another great way of using social media is to make a campaign video. It doesn't have to be the next Avengers film! it just needs to be you speaking to the camera about the five W's we mentioned above!</p>
            <p><strong>Have a Catchy Slogan</strong> - An effective slogan is short and to the point! Don't overcomplicate it.&nbsp;</p>
            <p><strong>'Can I Be Your Second Choice?'</strong> - We use <strong><a href="https://www.youtube.com/watch?v=_QstnZjkFEM">SVT (Single Transferrable Voting)</a></strong>. The truth is not everyone is going to vote for you. Some people may already be supporting their friends and you won't be able to change that. However, the benefit of SVT means that you can still potentially be their second choice. When speaking to someone, kindly ask that "if I'm not your first choice, please consider me for your second or third choice". The final count&nbsp;can change drastically as votes are redistributed to second and third choices.</p>
            <p><strong>Remember to Have Fun! </strong>- These elections are an opportunity for you to put yourself out there, try something new and push to enact real change at Roehampton, but don't forget to keep a smile on your face and have fun with your campaign!<strong>&nbsp;</strong></p>
            <p><strong>Want to upskill yourself? <a href="https://www.oppia.org/explore/6aXWnvDtsuE9">Take part in this online campaigning training by clicking this link</a>.</strong></p>
        
            </article>
        </div>
        </div>
      </section>
      
      <app-footer></app-footer>