<div class="relative bg-slate-400 rounded-xl p-16 shadow dark:bg-gray-700">
  <h3
    class="block py-3 uppercase tracking-wide text-teal-50 text-3xl font-bold mb-2"
  >
    Declare election
  </h3>
  <form
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    [formGroup]="electionForm"
    (ngSubmit)="onSubmit()"
  >
  <div class="row">
    <div class="col">
      <div class="mb-6">
        <h3 class="block text-purple-700 text-md font-bold mb-2">TITLE</h3>

        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline inputDate"
          type="text"
          formControlName="title"
        />
      </div>
    </div>
   
  </div>
    <!-- NOMINATION  -->
    <h3 class="block text-purple-700 text-md font-bold mb-2">NOMINATION</h3>
    <div class="row">
      <div class="col">
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Start Time
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline inputDate"
            type="datetime-local"
            formControlName="nomination_start"
          />
        </div>
      </div>
      <div class="col">
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            End Time
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline inputDate"
            type="datetime-local"
            formControlName="nomination_end"
          />
        </div>
      </div>
    </div>

    <!-- VOTING  -->
    <h3 class="block text-purple-700 text-md font-bold mb-2">VOTING</h3>
    <div class="row">
      <div class="col">
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Start Time
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline inputDate"
            type="datetime-local"
            formControlName="voting_start"
          />
        </div>
      </div>
      <div class="col">
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            End Time
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline inputDate"
            type="datetime-local"
            formControlName="voting_end"
          />
        </div>
      </div>
    </div>

    <!-- VOTING  -->
    <h3 class="block text-purple-700 text-md font-bold mb-2">RESULT</h3>
    <div class="row">
      <div class="col">
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Publish Time
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline inputDate"
            type="datetime-local"
            formControlName="result_day"
          />
        </div>
      </div>
    </div>
    <!-- <div
      id="alert-additional-content-1"
      class="p-4 mb-4 text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
      role="alert"
    >
      <div class="flex items-center">
        <svg
          aria-hidden="true"
          class="w-5 h-5 mr-2"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="sr-only">Info</span>
        <h3 class="text-lg font-medium">
          You are going to open election for the following positions
        </h3>
      </div>
      <div class="mt-2 mb-4 text-sm">
        <ul class="flex flex-wrap">
          <li
            *ngFor="let item of selectedPositions; let i = index"
            class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400"
          >
            {{ item.title }}
          </li>
        </ul>
        <div
          class="flex p-4 mb-4 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800"
          role="alert"
        >
       
          <div>
            Total openings : <strong>{{selectedPositions?.length}}</strong> 
          </div>
        </div>
      </div>
      <div class="flex">
        <button
          routerLink="/admin/positions"
          type="button"
          class="text-white bg-red-800 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          <svg
            aria-hidden="true"
            class="-ml-0.5 mr-2 h-4 w-4"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
            <path
              fill-rule="evenodd"
              d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          Edit
        </button>
        <div class="flex items-center">
          <input
            id="link-checkbox"
            type="checkbox"
            value=""
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="link-checkbox"
            class="ml-2 text-sm font-bold text-blue-600 dark:text-blue-500 hover:underline"
          >
            Click to confirm</label
          >
        </div>
      </div>
    </div> -->

    <div class="pb-4 mb-4">

      <h3 class="block text-purple-700 text-md font-bold mb-2">POSITIONS</h3>


      <ng-multiselect-dropdown
      [placeholder]="'Select'"
      [settings]="dropdownSettings"
      [data]="dropdownList"
      [(ngModel)]="selectedItems"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
      formControlName="positions"
    >
    </ng-multiselect-dropdown>
    </div>





    <div class="flex items-center justify-between">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
